
<% @pins.each do |pin| %>
<div class="col-md-4">
<%= link_to (image_tag pin.image.url(:medium)), pin %>
<h1><%= link_to pin.title, pin%></h1>
<p>Submitted by
	<%= pin.user.email%></p>
	</div>
<% end %>